* {}

nav {

    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#logo {
    padding-left: 50px;
    height: 70px;
    position: absolute;
    width: 100%;
    top: 0;
}
#area {
    width: 720px;
    margin: 0 auto;
}
#menu {
    float: right;
    padding-left:  10px ;
    position: absolute;
    left: 500px;
}
nav a {
    text-decoration: none;
}
/*Links não visitados*/
nav a:link {
    color: #838383;
}

/*Links vistados*/
nav a:visited {
    color: #838383;
}

/*Links hover*/
nav a:hover {
    color: gray;
    background: #b9c941;
}

#link_logo:hover {
    background: white;
}
#link_logo:visited {
    color: black;
}

/*Classes*/
.verde {
    color: #b9c941;
}
body  {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Helvetica, Arial, sans-serif;
}
    
fieldset {
    background-color: #fff;
    border: none;
    border-radius: 0 15px;
    margin-bottom: 5px; 
}