{% extends 'base.html' %}
{% load static %}
{% block title %}Auau Show - Agendamento{% endblock %}
{% block content %}
    <main id="banhoEtosa" onload="aviso()">
        <h1>&nbsp&nbsp&nbspAgendamento para banho e tosa</h1>
        <br>
        <h3 id="banhoEtosa">&nbsp&nbsp ⚠️ Faça o seu agendamento com pelo menos 48 horas de antecedência!</h3>
        <br>
        <form id="formCadastro" method="POST" action="/agendamento/">            
            <fieldset id="ident_animal">
                <legend>Animal</legend>
                <hr>
                <p><label class="labelSimples" for="nome_animal">Nome: </label>
                    <input type="text" name="animal"
                    id="nome_animal" size="25" maxlength="40" placeholder="Digite o nome do animal" required>
                </p>

                <p>Porte do cão: 
                    <input type="radio" name="porte" id="animal_pequeno" value="pequeno" checked> Pequeno
                    <input type="radio" name="porte" id="animal_medio" value="medio"> Medio
                    <input type="radio" name="porte" id="animal_grande" value="grande"> Grande
                </p>
                <p>
                    Tipo de tosa: 
                    <select name="tp_tosa" id="tipo_tosa">
                        <option value="padrao" selected>Tosa Padrão</option>
                        <option value="Higienica">Tosa Higiênica</option>
                        <option value="tesoura">Tosa na Tesoura</option>
                        <option value="raca">Tosa da Raça</option>
                        <option value="bebe">Tosa Bebê</option>
                    </select>
                </p>
                <p>Observações:
                    <input type="text" name="observacao" id="observacao"
                    placeholder="Digite alguma informação sobre o animal se necessário">
                    <!-- <textarea name="observacao" id="observacao"
                        placeholder="Digite alguma informação sobre o animal se necessário"></textarea> -->
                </p>
            </fieldset>
            <br><br>
            <fieldset id="ident_marcacao">
                <legend>Horário - (Não atendemos aos domingos e ás segundas-feiras)</legend>
                <hr>
                <p>Data:
                    <input type="text" name="data" id="data" required></p>
                <p> Horário:
                    <input type="time" name="horario" id="horario" required>
                </p>
            </fieldset>
            <button type="submit" class="btn btn-success">Cadastrar</button>
            <!-- <button class="btn btn-success" onclick="sendForm()">Agendar</button> -->
        </form>
        <!-- <button onclick="sendForm()">Enviar</button> -->
    </main>
    <br>

    <div class="modal fade" id="modalErro" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Erro no agendamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Você já tem um agendamento registrado. Consulte a seção de Meus agendamentos.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'meus_agendamentos' %}">Meus Agendamentos</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/agendamento_script.js' %}"></script>

    {% if erro %}
        <script type="text/javascript">
            $('#modalErro').modal('show')
        </script>
    {% endif %}
{% endblock %}