{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>{% block title %}Auau Show{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/x-png" href="{% static 'imgs/favicon.ico' %}">

    {% block estilos %}
    {% endblock estilos %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white mt-0">
        <a class="navbar-brand h1 mb-0" href="{% url 'index' %}" id="link_logo"><span class="verde">AUAU</span> SHOW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'index' %}">Início</a>
            <a class="nav-item nav-link" href="{% url 'quemSomos' %}">Quem Somos</a>
            {% if logado is True %}
              <a class="nav-item nav-link" href="{% url 'agendamento' %}">Agendamento</a>
              <a class="nav-item nav-link" href="{% url 'meus_agendamentos' %}">Meus Agendamentos</a>
              <a class="nav-item nav-link" href="{% url 'meu_perfil' %}">Meu perfil</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Sair</a>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Cadastra-se/Login</a>
            {% endif %}
          </div>
        </div>
      </nav>
      <br>
    {% block content %}
    {% endblock %}

    <footer class="footer">
      <div class="container text-center">
        <p>Atendimento:
          atendimento@auaushow.com
    
          * (0XX) 99999-9999 / (0XX) 88888-8888 * <span class="text-muted">(Dados meramente ilustrativos.)</span>
        </p>
      </div>
    </footer>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/jquery.mask.min.js"></script>
    <script src="/static/js/base_script.js"></script>
    {% block script %}
    {% endblock script %}
</body>
</html>