{% extends 'base.html' %}
{% block content %}
    <form action="/deletar/{{ agendInfo.id }}/" method="POST">
        <h2 style="text-align: center;">Tem certeza que deseja desmarcar este agendamento?</h2>
        Animal: {{ agendInfo.animal }} <br>
        Tipo de tosa: {{ agendInfo.tp_tosa }} <br>
        Data: {{ agendInfo.data }} <br>
        Horário: {{ agendInfo.horario }} <br><br>
        <input class="btn btn-danger" type="submit" value="Deletar">
        <a class="btn btn-primary" href="{% url 'meus_agendamentos' %}">Cancelar</a>
    </form>
{% endblock %}