{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="/detalhes/{{ agendInfo.id }}/">
        <fieldset id="ident_animal">
            <legend>Animal</legend>
            <hr>
            <p><label class="labelSimples" for="nome_animal">Nome: </label>
                <input type="text" name="animal"
                id="nome_animal" size="25" maxlength="40" value="{{ agendInfo.animal }}" required>
            </p>

            <p>Porte do cão: 
                <input type="radio" name="porte" value="pequeno" id="pequeno"> Pequeno
                <input type="radio" name="porte" value="medio" id="medio"> Medio
                <input type="radio" name="porte" value="grande" id="grande"> Grande
            </p>

            {% if agendInfo.porte == 'pequeno' %}
                <script>
                    document.getElementById("pequeno").checked = true
                </script>
            {% elif agendInfo.porte == 'medio' %}
                <script>
                    document.getElementById("medio").checked = true
                </script>
            {% else %}
                <script>
                    document.getElementById("grande").checked = true
                </script>
            {% endif %}
            <p>
                Tipo de tosa: 
                <select name="tp_tosa" id="tipo_tosa">
                    <option value="padrao" selected>Tosa Padrão</option>
                    <option value="Higienica">Tosa Higiênica</option>
                    <option value="tesoura">Tosa na Tesoura</option>
                    <option value="raca">Tosa da Raça</option>
                    <option value="bebe">Tosa Bebê</option>
                </select>
            </p>
            <p>Observações:
                <input type="text" name="observacao" id="observacao"
                value="{{ agendInfo.observacao }}">
            </p>
        </fieldset>
        <br><br>
        <fieldset id="ident_marcacao">
            <legend>Horário - (Não atendemos aos domingos e ás segundas-feiras)</legend>
            <hr>
            <p>Data:
                <input type="text" name="data" id="data" value="{{ agendInfo.data }}" required></p>
            <p> Horário:
                <input type="time" name="horario" id="horario" value="{{ agendInfo.horario }}" required>
            </p>
        </fieldset>
        <br><br>
        <input type="submit" class="btn btn-success" value="Atualizar">
        <a class="btn btn-danger" href="/deletar/{{ agendInfo.id }}/">Deletar</a>
    </form>
    <br>
{% endblock content %}
{% block script %}
<!-- <script src="/static/js/detalhes_script.js"></script> -->
<script src="/static/js/detalhes_script.js"></script>
{% endblock %}