{% extends 'base.html' %}
{% load static %}

{% if user.is_authenticated %}
	Logado
{% endif %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img class="img-thumbnail"
					src="/static/imgs/carousel/65793072881fde7cc44e9e248c0a36.jpg" alt="dog1">
			</div>
			<div class="col-sm-6">
				<img class="img-thumbnail"
					src="/static/imgs/carousel/banho-e-tosa-domicilio.jpg" alt="dog2">
			</div>
		</div>
	</div>
		<br><br>
		<div class="container">
		<h3>Fundada em 2020</h3>
		<dl>
			<dd class="text-justify">Auau Show é uma clínica veterinária especializada nos serviços de banho e tosa,
				oferecendo todo o cuidado e carinho que seu pet merece na hora da higienização 
				e embelezamento. Com o objetivo de fornecer a maior comodidade para os nossos 
				clientes, a Auau Show conta com um serviço de leva e traz, onde você pode agendar 
				o banho e/ou tosa do seu animal e nós vamos até o seu endereço buscá-lo e levá-lo 
				na hora marcada.
				Na Auau Show utilizamos o melhor dos produtos de higiene, todos selecionados para 
				cada animal e seu tipo de pelos, além das opções neutras ou com fragrâncias.
				<br>
			</dd>
		</dl>
	</div>

<div class="modal fade" id="modalErro" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Você não está cadastrado</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
			{{ erro }}
		</div>
		<div class="modal-footer">
			<a class="btn btn-secondary" href="{% url 'index' %}">Cancelar</a>
			<a class="btn btn-primary" href="{% url 'cadastro' %}">Cadastre-se</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block script %}
{% if erro %}
<script type="text/javascript">
    $('#modalErro').modal('show');
</script>
{% endif %}
{% endblock script %}



