{% extends 'base.html' %}
{% load static %}
{% if logado is false %}
    <script>
        alert('teste')
    </script>
{% endif %}
<head>
    <title>Cadastro</title>
</head>
<nav>
    <h1 id="logo"><a href="{% url 'index' %}" id="link_logo"><span class="verde">AUAU</span> SHOW</a></h1>

    <ul d="area" id="menu">
        <a href="{% url 'index' %}" class="espaco">Home</a>
        <a href="{% url 'agendamento' %}" class="espaco">Agendamento</a>
        <a class="espaco" href="{% url 'login' %}">Cadastra-se/Login</a>
    </ul>
</nav>
<br><br><br><br><br>

{% block content %}
    <div class="espa">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <form action="/login/" method="POST">
                        <h3>Logar</h3>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu e-mail">
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input type="password" class="form-control" name="senha" id="senha" placeholder="Digite sua senha">
                        </div>
                        <button type="submit" class="btn btn-success">Logar</button>
                    </form>
                </div>

                <div class="col-sm-6 " class="float">
                    <h3>Cadastre-se</h3>
                    <form action="{% url 'registrar' %}" method="POST" onsubmit="return formValidate(this)">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input type="password" class="form-control" name="senha" id="senha" minlength="6" required>
                            <small id="passwordHelpInline" class="text-muted">
                                Deve ter mais de 6 caracteres.
                              </small>
                        </div>
                        <div class="form-group">
                            <label for="senha">Confirme sua senha</label>
                            <input type="password" class="form-control" name="senha2" minlength="6" data-match="senha" required>
                            <small id="passwordHelpInline" class="text-muted">
                                Deve ter mais de 6 caracteres.
                              </small>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" required> Aceito os termos do serviço.
                            </label>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Cadastrar" id="sbtForm">
                        <!-- <button type="submit" class="btn btn-primary">Cadastrar</button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="modal fade" id="modalErro" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ erro.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ erro.msg }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Entendi</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSenha" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Senhas diferentes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    As senhas devem ser igual para prosseguir com o cadastro.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Entendi</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block script %}
    <script src="/static/js/login_script.js"></script>
    {% if erro %}
        <script type="text/javascript">
            $('#modalErro').modal('show')
        </script>
    {% endif %}
{% endblock script %}