{% extends 'base.html' %}
{% load static %}
{% block title %}Meu Perfil{% endblock %}
{% block content %}
    <div class="container">
        <form method="POST" action="/meu_perfil/" onsubmit="return validateForm()">
            <fieldset id="ident_dono">
                <legend>Cadastro do Cliente</legend>
                <br>
                <h6>INFORMAÇÕES PESSOAIS:</h6>
                <hr>
                <div class="form-group">
                    <label for="nome" >Nome Completo:</label> 
                    <input class="form-control" type="text" id="nome" name="nome" size="50" 
                        maxlength="50" placeholder="Nome completo" value="{{ userInfo.nome }}" required/>
                </div>
                <div class="form-group">
                    <label for="telefone">Tel/Cel:</label>
                    <input class="form-control" type="text" name="telefone" id="telefone" 
                        size="14" placeholder="(00) 0000-0000" value="{{ userInfo.telefone }}" required>
                </div>  
                <div class="form-group">
                    <label for="dt_nascimento">Data de Nascimento:</label> 
                    <input class="form-control" type="text" id="dt_nascimento" name="dt_nascimento" size="50" 
                        maxlength="50" value="{{ userInfo.dt_nascimento }}" required/> 
                </div>
                <div class="form-group">
                    <label for="cpf">CPF:</label> 
                    <input class="form-control" type="text" id="cpf" name="cpf" maxlength="14" 
                        size="14" placeholder="000.000.000-00" value="{{ userInfo.cpf }}" required/> 
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="masculino" value="masculino">
                        <label class="form-check-label" for="masculino">Masculino</label> 
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="feminino" value="feminino">
                        <label class="form-check-label" for="feminino">Feminino</label> 
                    </div>
                </div> 
                {% if userInfo.sexo == 'masculino' %}
                <script>
                    document.getElementById("masculino").checked = true
                </script>
                {% elif userInfo.sexo == 'feminino' %}
                <script>
                    document.getElementById("feminino").checked = true
                </script>
                {% endif %}
                <br>
                <h6>ENDEREÇO:</h6>
                <hr>
                <div class="form-group">
                    <label for="Cep">Cep:</label> 
                    <input class="form-control" id="cep" type="text" name="cep" 
                        placeholder="00000-000" value="{{ userInfo.cep }}" required/> 
                </div>

                <div class="form-group">
                    <label for="rua">Rua:</label> 
                    <input class="form-control" type="text" name="rua" id="rua"
                        maxlength="50" placeholder="Rua" value="{{ userInfo.rua }}" required/> 
                </div>
                <div class="form-group">
                    <label for="numero">Número:</label> 
                    <input class="form-control" type="text" class="form-control" name="numero" 
                        id="numero" maxlength="10" value="{{ userInfo.numero }}" required>
                </div>
                <div class="form-group">
                    <label for="complemento">Complemento:</label> 
                    <input class="form-control" type="text" name="complemento" id="complemento" size="50" 
                        maxlength="50" placeholder="Opcional" value="{{ userInfo.complemento }}"/>
                </div>
                <div class="form-group">
                    <label for="bairro">Bairro:</label> 
                    <input class="form-control" type="text" id="bairro" name="bairro" size="50" 
                        maxlength="50" placeholder="Bairro" value="{{ userInfo.bairro }}" required/>
                </div>
                <div class="form-group">
                    <label for="cidade">Cidade:</label>
                    <input class="form-control" type="text" id="cidade" name="cidade" size="50" 
                        maxlength="50" placeholder="Cidade" value="{{ userInfo.cidade }}" required/>
                </div> 
            </fieldset>  
            <br>
            <button type="submit" class="btn btn-primary">Atualizar Cadastro!</button>
        </form>
    </div> 
    <br><br>

    <div class="modal fade" id="modalErro" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Erro ao cadastrar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Houve um erro ao realizar seu cadastro, tente novamente ou entre em contato conosco.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Entendi</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/cadastro_script.js' %}"></script>

    {% if erro %}
        <script type="text/javascript">
            $('#modalErro').modal('show')
        </script>
    {% endif %}
{% endblock script %}