{% extends 'base.html' %}

{% block content %}
    <div class="container text-justify">
        <h3>QUEM SOMOS</h3>	
        <p>
            Auau Show é uma clínica veterinária especializada nos serviços de banho e tosa,
            oferecendo todo o cuidado e carinho que seu pet merece na hora da higienização 
            e embelezamento. Com o objetivo de fornecer a maior comodidade para os nossos 
            clientes, a Auau Show conta com um serviço de leva e traz, onde você pode agendar 
            o banho e/ou tosa do seu animal e nós vamos até o seu endereço buscá-lo e levá-lo 
            na hora marcada.
            Na Auau Show utilizamos o melhor dos produtos de higiene, todos selecionados para 
            cada animal e seu tipo de pelos, além das opções neutras ou com fragrâncias.
        </p>
        <hr>
            
        <h3>VISÃO</h3>
        <p>
            Almejamos sempre a satisfação de nossos clientes e seus pets.
            A longo prazo temos o objetivo de expandir nossos serviços presenciais para todo o país,
            para aumentar a disponibilidade de horários para as consultas. 
        </p>	
        <hr>
        <h3>VALORES</h3>
        <p>
            Nossa motivação para estar em atividade é a prestação e a praticidade 
            de serviço prestado para os que amam seus pets, com a nossa nova tecnologia 
            de agendamentos online, podemos resolver o problema do cliente que pode e
            star oculpado para deixar o seu pet em uma clinica presencial, 
            ele não precisa se preoculpar com isso, pois 
            <b>nossa clinica pensa em você e o seu pet agradece!</b>
        </p>
    </div>
{% endblock %}